@tailwind base;
@tailwind components;
@tailwind utilities;

/* .comic-neue-light {
    font-family: "Comic Neue-light", cursive;
    font-weight: 300;
    font-style: normal;
}

.comic-neue-regular {
    font-family: "Comic Neue-regular ", cursive;
    font-weight: 400;
    font-style: normal;
}

.comic-neue-bold {
    font-family: "Comic Neue-bold", cursive;
    font-weight: 700;
    font-style: normal;
}

.comic-neue-light-italic {
    font-family: "Comic Neue-italic", cursive;
    font-weight: 300;
    font-style: italic;
}

.comic-neue-regular-italic {
    font-family: "Comic Neue-regular-italic", cursive;
    font-weight: 400;
    font-style: italic;
}

.comic-neue-bold-italic {
    font-family: "Comic Neue-bold-italic", cursive;
    font-weight: 700;
    font-style: italic;
} */

[x-cloak] {
    display: none;
}

font-sans {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* .patrick-hand-regular {
    font-family: "Patrick Hand", cursive;
    font-weight: 400;
    font-style: normal;
} */

/* .baloo-2 {
    font-family: "Baloo 2", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
} */

/* .pt-sans-regular {
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
} */

/* .pt-sans-bold {
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    font-style: normal;
} */

/* .pt-sans-regular-italic {
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.pt-sans-bold-italic {
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    font-style: italic;
} */

/* .pt-sans-narrow-regular {
    font-family: "PT Sans Narrow", sans-serif;
    font-weight: 400;
    font-style: normal;
} */

/* .pt-sans-narrow-bold {
    font-family: "PT Sans Narrow", sans-serif;
    font-weight: 700;
    font-style: normal;
} */

 .pt-sans-caption-regular {
    font-family: "PT Sans Caption", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.pt-sans-caption-bold {
    font-family: "PT Sans Caption", sans-serif;
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Moderne Fraktur";
    src: url("/fonts/ModerneFraktur.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.prose hr {
    border-color: #86b9f3; /* Exemple : bleu Tailwind (blue-300) */
    opacity: 1; /* Pour éviter qu’elle soit trop pâle */
}
